# Ignore all CSV outputs
*.csv

# Allow required input datasets
!labs/database_connection_basics/INSTRUCTOR.csv
!labs/etl_multi_format_csv_json_xml/extracted_files/*.csv

# Generated databases
*.db

# Logs
*_log.txt
*.txt

# Archives
*.zip

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store